body {
  font-family: Montserrat, sans-serif;
  color: #505050;
  font-size: 16px;
  line-height: 1.4em;
}

h1 {
  margin-top: 15px;
  margin-bottom: 14px;
  color: #000;
  font-size: 44px;
  line-height: 52px;
  font-weight: 600;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000;
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000;
  font-size: 30px;
  line-height: 38px;
  font-weight: 600;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

p {
  margin-bottom: 10px;
}

a {
  display: block;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #1a1b1f;
  text-decoration: underline;
}

a:hover {
  color: #32343a;
}

a:active {
  color: #43464d;
}

ul {
  padding-left: 40px;
  list-style-type: disc;
}

li {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

img {
  display: block;
}

label {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

blockquote {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 15px 30px;
  border-left: 5px solid #e2e2e2;
  font-size: 20px;
  line-height: 34px;
}

figure {
  margin-top: 25px;
  padding-bottom: 20px;
}

figcaption {
  margin-top: 5px;
  opacity: 0.6;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.heading-jumbo-small {
  margin-top: 10px;
  margin-bottom: 15px;
  color: #000;
  font-size: 36px;
  line-height: 50px;
  font-weight: 700;
  text-transform: none;
}

.styleguide-block {
  display: block;
  margin-top: 80px;
  margin-bottom: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.heading-jumbo-tiny {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

.rich-text {
  width: 70%;
  margin-right: auto;
  margin-bottom: 100px;
  margin-left: auto;
}

.rich-text p {
  margin-top: 15px;
  margin-bottom: 25px;
  opacity: 0.6;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.styleguide-content-wrap {
  text-align: center;
}

.paragraph-small {
  font-size: 14px;
  line-height: 26px;
}

.styleguide-header-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 460px;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #1a1b1f;
  color: #fff;
  text-align: center;
}

.styleguide-button-wrap {
  margin-top: 10px;
  margin-bottom: 10px;
}

.heading-jumbo {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000;
  font-size: 64px;
  line-height: 80px;
  font-weight: 700;
  text-transform: none;
}

.heading-jumbo.hite {
  color: #fff;
}

.paragraph-tiny {
  font-size: 12px;
  line-height: 20px;
}

.paragraph-tiny.cc-paragraph-tiny-light {
  opacity: 0.7;
}

.label {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.label.cc-styleguide-label {
  margin-bottom: 25px;
}

.label.cc-speaking-label {
  margin-top: 20px;
  margin-bottom: 10px;
}

.label.cc-about-light {
  opacity: 0.6;
}

.paragraph-light {
  opacity: 0.6;
}

.paragraph-light.cc-position-name {
  margin-bottom: 5px;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section.cc-contact {
  padding-right: 80px;
  padding-left: 80px;
  background-color: #f4f4f4;
}

.section.hero-section {
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/Inline-Hockey-Cover.jpg');
  background-position: 50% 0%;
  background-size: contain;
  background-repeat: no-repeat;
}

.section.clients-section {
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: none;
}

.section.contact-section {
  color: #e4e4e4;
}

.button {
  padding: 12px 25px;
  border-radius: 0px;
  background-color: #1a1b1f;
  -webkit-transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
  transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #32343a;
  color: #fff;
}

.button:active {
  background-color: #43464d;
}

.button.cc-jumbo-button {
  padding: 16px 35px;
  font-size: 14px;
  line-height: 26px;
}

.button.cc-white-button {
  padding: 16px 35px;
  background-color: #fff;
  color: #202020;
  font-size: 14px;
  line-height: 26px;
}

.button.cc-white-button:hover {
  background-color: hsla(0, 0%, 100%, 0.8);
}

.button.cc-white-button:active {
  background-color: hsla(0, 0%, 100%, 0.9);
}

.paragraph-bigger {
  margin-bottom: 10px;
  opacity: 1;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
}

.paragraph-bigger.cc-bigger-light {
  opacity: 0.6;
}

.divider {
  height: 1px;
  background-color: #eee;
}

.logo-link {
  z-index: 1;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.7;
}

.navigation-item {
  padding-top: 9px;
  padding-bottom: 9px;
  opacity: 0.6;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navigation-item:hover {
  opacity: 0.9;
}

.navigation-item:active {
  opacity: 0.8;
}

.navigation-item.w--current {
  opacity: 1;
  color: #1a1b1f;
  font-weight: 600;
}

.navigation-item.w--current:hover {
  opacity: 0.8;
  color: #32343a;
}

.navigation-item.w--current:active {
  opacity: 0.7;
  color: #32343a;
}

.navigation-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 50px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.logo-image {
  display: block;
}

.navigation-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.intro-wrap {
  margin-top: 100px;
  margin-bottom: 140px;
}

.name-text {
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
}

.position-name-text {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
  text-transform: none;
}

.work-description {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.work-experience-grid {
  margin-bottom: 140px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-areas: ". . . .";
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.works-grid {
  margin-bottom: 80px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-areas: ". . ." ". . .";
  -ms-grid-columns: 1.5fr 30px 1fr 30px 1.5fr;
  grid-template-columns: 1.5fr 1fr 1.5fr;
  -ms-grid-rows: auto 30px auto;
  grid-template-rows: auto auto;
}

.carrer-headline-wrap {
  width: 70%;
  margin-bottom: 50px;
}

.work-image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 460px;
  margin-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #f4f4f4;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
  text-align: center;
  text-decoration: none;
}

.work-image:hover {
  opacity: 0.8;
}

.work-image:active {
  opacity: 0.7;
}

.work-image.cc-work-1 {
  background-image: url('../images/portfolio-1---wide.svg');
  background-size: cover;
}

.work-image.cc-work-2 {
  background-image: url('../images/portfolio-2---wide.svg');
  background-size: cover;
}

.work-image.cc-work-3 {
  background-image: url('../images/portfolio-3---wide.svg');
  background-size: cover;
}

.project-name-link {
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
  text-decoration: none;
}

.project-name-link:hover {
  opacity: 0.8;
}

.project-name-link:active {
  opacity: 0.7;
}

.text-field {
  margin-bottom: 20px;
  padding: 20px 0px;
  border-style: none none solid;
  border-width: 0px 0px 1px;
  border-color: #000 #000 #e4e4e4;
  background-color: transparent;
  -webkit-transition: border-color 400ms ease;
  transition: border-color 400ms ease;
  color: #e4e4e4;
  font-size: 14px;
  line-height: 26px;
}

.text-field:hover {
  border-color: #e3e6eb;
}

.text-field:active {
  border-color: #43464d;
}

.text-field:focus {
  border-color: #43464d;
}

.text-field::-webkit-input-placeholder {
  color: #adadad;
}

.text-field:-ms-input-placeholder {
  color: #adadad;
}

.text-field::-ms-input-placeholder {
  color: #adadad;
}

.text-field::placeholder {
  color: #adadad;
}

.text-field.cc-textarea {
  height: 200px;
  padding-top: 12px;
}

.text-field.long {
  min-height: 160px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #e4e4e4;
  border-radius: 5px;
}

.status-message {
  padding: 9px 30px;
  background-color: #202020;
  color: #fff;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.status-message.cc-success-message {
  background-color: #12b878;
}

.status-message.cc-error-message {
  background-color: #db4b68;
}

.contact {
  padding-top: 80px;
  padding-bottom: 90px;
}

.contact-headline {
  width: 70%;
  margin-bottom: 40px;
}

.contact-form-grid {
  grid-column-gap: 30px;
  grid-row-gap: 10px;
}

.contact-form-wrap {
  width: 70%;
}

.footer-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 50px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f0f0f0;
}

.webflow-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.5;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
  text-decoration: none;
  text-transform: uppercase;
}

.webflow-link:hover {
  opacity: 1;
}

.webflow-link:active {
  opacity: 0.8;
}

.webflow-logo-tiny {
  margin-top: -2px;
  margin-right: 8px;
}

.footer-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-item {
  margin-right: 20px;
  margin-left: 20px;
  opacity: 0.6;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-item:hover {
  opacity: 0.9;
}

.footer-item:active {
  opacity: 0.8;
}

.about-intro-grid {
  margin-top: 100px;
  margin-bottom: 140px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 80px;
  grid-row-gap: 30px;
  grid-template-areas: ". .";
  -ms-grid-columns: 1fr 80px 2fr;
  grid-template-columns: 1fr 2fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.hi-there-heading {
  margin-top: 10px;
  margin-bottom: 20px;
}

.service-name-text {
  margin-bottom: 10px;
  opacity: 0.6;
  font-size: 30px;
  line-height: 46px;
}

.skillset-wrap {
  padding-right: 60px;
}

.reference-link {
  opacity: 0.6;
  font-size: 14px;
  line-height: 26px;
  text-decoration: none;
}

.reference-link:hover {
  opacity: 1;
}

.reference-link:active {
  opacity: 0.9;
}

.featured-item-wrap {
  margin-bottom: 25px;
}

.services-items-grid {
  padding-top: 10px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-areas: ". .";
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.skills-grid {
  margin-bottom: 140px;
  grid-column-gap: 80px;
  grid-row-gap: 30px;
  grid-template-areas: ". .";
  -ms-grid-columns: 1fr 80px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.personal-features-grid {
  margin-bottom: 110px;
  grid-column-gap: 80px;
  grid-row-gap: 20px;
  grid-template-areas: ". ." ". .";
  -ms-grid-rows: auto 20px auto;
  grid-template-rows: auto auto;
}

.speaking-text {
  display: inline-block;
  margin-right: 8px;
}

.speaking-text.cc-past-speaking {
  opacity: 0.6;
}

.speaking-detail {
  display: inline-block;
  opacity: 0.6;
}

.upcoming-wrap {
  margin-bottom: 40px;
}

.social-media-heading {
  margin-bottom: 60px;
}

.social-media-grid {
  margin-bottom: 30px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  -ms-grid-rows: auto 30px auto;
  grid-template-areas: ". . . ." ". . . .";
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  padding: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

._404-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f0f0f0;
  color: #000;
}

._404-content-wrap {
  margin-bottom: 20px;
}

.protected-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 90px;
  padding-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.protected-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.protected-heading {
  margin-bottom: 30px;
}

.custom-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  max-width: 1000px;
  min-height: 200px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.hero-left {
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.horizontal-line {
  width: 210px;
  height: 2px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #000;
}

.horizontal-line.less-margin {
  width: 120px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.horizontal-line.less-margin.light {
  background-color: #e4e4e4;
}

.hero-right {
  width: 50%;
  height: 100vh;
}

.hero-image {
  position: absolute;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 600px;
  border-radius: 5px;
  background-image: url('../images/Inline-Hockey-Cover.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.55;
}

.list {
  position: absolute;
  top: 80px;
  right: 100px;
}

.list.hero-list {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  margin-top: 80px;
  padding-left: 0px;
  text-align: right;
}

.hero-heading {
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  font-size: 44px;
  line-height: 50px;
  font-weight: 400;
  text-transform: none;
}

.section-heading {
  font-size: 50px;
}

.section-heading.left-align {
  margin-bottom: 40px;
  padding-left: 0px;
}

.section-heading.left-align.contact-heading {
  margin-bottom: 0px;
  color: #e4e4e4;
}

.section-heading.light {
  color: #e4e4e4;
}

.project-image {
  position: relative;
  height: 500px;
  border: 0px solid #000;
  border-radius: 0px 5px 5px;
  background-image: none;
}

.project-image.inline-hockey {
  background-image: url('../images/Inline-Hockey.jpg');
  background-position: 50% 0%;
  background-size: cover;
}

.project-image.rollhockey {
  position: relative;
  background-color: rgba(125, 125, 128, 0.5);
  background-image: url('../images/Rollhockey.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.project-image.rollkunstlauf {
  background-image: url('../images/Rollkunstlauf.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.project-image.speed-skating {
  background-image: url('../images/Speed-Skating.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.project-image.roller-freestyle {
  background-image: url('../images/Roller-Freestyle.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.project-image.inline-street-slalom {
  background-image: url('../images/SISSL-Rennen.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.project-image.inline-downhill {
  background-color: #424242;
  background-image: url('../images/Foto-ASID.jpg');
  background-size: cover;
}

.project {
  position: relative;
  width: 80%;
  margin-top: 40px;
  margin-bottom: 80px;
  text-decoration: none;
}

.project.first-project {
  margin-top: 0px;
}

.project.rollkunstlauf-block {
  cursor: default;
}

.sport-type-holder {
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.sport-type {
  display: inline-block;
  padding: 10px 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #ed1c23;
  font-family: Montserrat, sans-serif;
  color: #f0f0f0;
  font-size: 36px;
  line-height: 50px;
  font-weight: 300;
  letter-spacing: -1px;
  text-transform: none;
}

.sport-type-list {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 700;
}

.project-preview {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.project-content {
  width: 70%;
  margin-top: -85px;
  margin-right: -20%;
  margin-left: auto;
  padding: 60px;
  border-radius: 5px;
  background-color: #f0f0f0;
  box-shadow: 1px 1px 100px 0 rgba(0, 0, 0, 0.15);
}

.project-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-left: 30px;
  border-left: 2px solid #000;
}

.website-link {
  display: block;
  margin-top: 25px;
  color: #505050;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.client-logos-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -10px;
  margin-left: -10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-radius: 25px;
}

.client-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 50%;
  -ms-flex: 0 50%;
  flex: 0 50%;
}

.swiss-skate-logo-wrapper {
  margin-bottom: 40px;
}

.form {
  width: 550px;
}

.social-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.social-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  margin-bottom: 25px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.8;
  text-decoration: none;
}

.social-link:hover {
  opacity: 1;
}

.social-icon {
  width: 24px;
  margin-right: 10px;
}

.social-icon.facebook {
  padding: 2px;
}

.social-text {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.submit-button {
  width: 100%;
  padding-top: 13px;
  padding-bottom: 13px;
  border-radius: 5px;
  background-color: #ac1217;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  color: #e4e4e4;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.submit-button:hover {
  background-color: #ed1c23;
}

.form-block {
  position: relative;
  width: 550px;
  margin-bottom: 0px;
}

.social-inner-div {
  display: block;
  padding-left: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-left: 1px solid #adadad;
}

.nav-wrapper {
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: inset 0 0 0 2px #000;
  -webkit-transition: border-radius 200ms ease;
  transition: border-radius 200ms ease;
}

.nav-button:hover {
  border-radius: 8px;
}

.nav-button:active {
  border-radius: 15px;
}

.nav-icon {
  width: 32px;
  cursor: pointer;
}

.nav-menu {
  position: absolute;
  left: 58px;
  top: 62px;
  width: 170px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fff;
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.15);
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}

.nav-link {
  display: block;
  padding: 15px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #ed1c23;
}

.success-message {
  position: relative;
  min-height: 180px;
  padding: 50px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.15);
  color: #505050;
  text-align: left;
}

.sport-link {
  padding-top: 7px;
  padding-bottom: 7px;
  -webkit-transition: color 200ms ease, opacity 200ms ease;
  transition: color 200ms ease, opacity 200ms ease;
  text-decoration: none;
}

.sport-link:hover {
  color: #ed1c23;
}

.paragraph {
  color: #505050;
}

.contact-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.tick-icon-wrapper {
  padding-bottom: 20px;
}

.tick-icon {
  width: 50px;
}

.menu-icon__line {
  width: 31px;
  height: 2px;
  margin-bottom: 4px;
  background-color: #000;
}

.menu-icon__line.left {
  width: 16px;
}

.menu-icon__line.right {
  width: 15px;
  float: right;
}

.nav__list-item {
  position: relative;
  display: inline-block;
  margin-right: 3vw;
}

.nav__list-item.last {
  margin-right: 0vw;
}

.menu-icon-2 {
  position: fixed;
  left: 5vw;
  top: 4vw;
  z-index: 2;
  width: 50px;
  height: 50px;
  padding: 10px;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #1c1e1f;
}

.nav__content {
  position: fixed;
  top: 50%;
  width: 100%;
  text-align: center;
}

.menu-button-2 {
  position: fixed;
  left: 5vw;
  top: 4vw;
  z-index: 2;
  width: 50px;
  height: 50px;
  padding: 10px;
  float: left;
}

.menu-button-2.w--open {
  position: fixed;
  left: 5vw;
  top: 4vw;
  z-index: 2;
  background-color: transparent;
}

.nav {
  position: fixed;
  z-index: 1;
  display: none;
  width: 100vw;
  height: 0vh;
  background-color: #fff;
}

.nav-bg {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: none;
  width: 100vw;
  height: 0vh;
  background-color: rgba(149, 155, 158, 0.63);
}

.nav-wrap {
  position: relative;
  width: 100vw;
  height: 0px;
  background-color: transparent;
}

.nav__list {
  position: relative;
  z-index: 99;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link {
  display: block;
  color: #131314;
  font-size: 2.8vw;
  line-height: 2.8vw;
  font-weight: 200;
  text-decoration: none;
}

.line-wrap {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 1px;
}

.facebook-link {
  display: block;
  margin-top: 10px;
  color: #505050;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.custom-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  padding-top: 140px;
  padding-bottom: 140px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.custom-section.no-flex {
  display: block;
}

.custom-section.clubs {
  position: relative;
}

.bg-1 {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  background-color: #7d7d7f;
}

.bg-1._1 {
  background-color: #ed1c23;
}

.bg-2 {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  display: block;
  background-color: #e4e4e4;
}

.bg-2._1 {
  background-color: #ed1c23;
}

.bg-3 {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  display: block;
  border-style: solid;
  border-width: 1px;
  border-color: #adadad;
  background-color: #1f1f1f;
}

.bg-3._1 {
  background-color: #ed1c23;
}

.client-logo-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 125px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #e4e4e4;
  border-radius: 5px;
  background-color: #e4e4e4;
  opacity: 0.8;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.client-logo-inner:hover {
  opacity: 1;
}

.image {
  z-index: 1000;
}

.logos-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.hero-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.extra-margin-bottom {
  margin-bottom: 60px;
}

.freestyle-image {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 40%;
  margin-top: 140px;
  margin-bottom: 140px;
  background-image: url('../images/autre-optimised.jpg');
  background-position: 100% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.44;
}

.success-message-2 {
  margin-top: 101px;
  margin-bottom: 101px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 5px;
}

.error-message {
  border-radius: 5px;
  text-align: center;
}

.form-block-2 {
  border-radius: 5px;
}

@media (max-width: 991px) {
  .styleguide-block {
    text-align: center;
  }
  .heading-jumbo {
    font-size: 56px;
    line-height: 70px;
  }
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .section.cc-contact {
    padding-right: 0px;
    padding-left: 0px;
  }
  .section.hero-section {
    height: 100vh;
    background-position: 70% 0%;
  }
  .section.clients-section {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .button {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .logo-link.w--current {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .menu-icon {
    display: block;
  }
  .navigation-item {
    padding: 15px 30px;
    -webkit-transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    text-align: center;
  }
  .navigation-item:hover {
    background-color: #f7f8f9;
  }
  .navigation-item:active {
    background-color: #eef0f3;
  }
  .navigation-items {
    background-color: #fff;
  }
  .navigation {
    padding: 25px 30px;
  }
  .menu-button {
    padding: 0px;
  }
  .menu-button.w--open {
    background-color: transparent;
  }
  .navigation-wrap {
    margin-right: 0px;
  }
  .work-experience-grid {
    grid-template-areas: ". ." ". .";
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .works-grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .carrer-headline-wrap {
    width: auto;
  }
  .work-image {
    margin-bottom: 30px;
  }
  .contact {
    width: auto;
    padding: 30px 50px 40px;
  }
  .contact-headline {
    width: 100%;
  }
  .contact-form-wrap {
    width: 100%;
  }
  .about-intro-grid {
    grid-row-gap: 50px;
    grid-template-areas: "." ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 50px auto;
    grid-template-rows: auto auto;
    text-align: center;
  }
  .about-head-text-wrap {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  .service-name-text {
    font-size: 24px;
    line-height: 42px;
  }
  .skillset-wrap {
    padding-right: 0px;
  }
  .services-items-grid {
    padding-top: 0px;
    grid-row-gap: 0px;
    grid-template-areas: "." ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 0px auto;
    grid-template-rows: auto auto;
  }
  .skills-grid {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    grid-row-gap: 50px;
    grid-template-areas: "." ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 50px auto;
    grid-template-rows: auto auto;
    text-align: center;
  }
  .personal-features-grid {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    grid-template-areas: "." "." "." ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    text-align: center;
  }
  .social-media-heading {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .social-media-grid {
    grid-template-areas: ". ." ". ." ". ." ". .";
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }
  .hero-left {
    max-width: 350px;
  }
  .horizontal-line.less-margin {
    width: 120px;
  }
  .hero-right {
    right: -6%;
  }
  .hero-heading {
    font-size: 36px;
  }
  .project.first-project {
    margin-bottom: 40px;
  }
  .project-content {
    width: 65%;
  }
  .client-logos-holder {
    padding-right: 5px;
    padding-left: 5px;
  }
  .swiss-skate-logo-wrapper {
    margin-top: 100px;
  }
  .form {
    width: 100%;
  }
  .social-wrapper {
    margin-top: 30px;
  }
  .social-link {
    margin-right: 20px;
    margin-left: 20px;
  }
  .form-block {
    width: 100%;
  }
  .social-inner-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    border-left-style: none;
  }
  .nav-wrapper {
    left: 0px;
    top: 0px;
    z-index: 9999;
    padding-right: 0px;
  }
  .nav-button {
    background-color: hsla(0, 0%, 100%, 0.66);
  }
  .nav-menu {
    background-color: #fff;
  }
  .contact-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .menu-icon-2 {
    left: 6vw;
    top: 6vw;
  }
  .menu-button-2 {
    left: 6vw;
    top: 6vw;
  }
  .link {
    font-size: 3.4vw;
    line-height: 3.4vw;
  }
}

@media (max-width: 767px) {
  li {
    margin-bottom: 0px;
  }
  .heading-jumbo-small {
    font-size: 30px;
    line-height: 52px;
  }
  .rich-text {
    width: 90%;
    max-width: 470px;
    text-align: left;
  }
  .container {
    text-align: center;
  }
  .heading-jumbo {
    font-size: 50px;
    line-height: 64px;
  }
  .section {
    padding: 60px 20px;
  }
  .section.cc-contact {
    padding: 15px;
  }
  .section.hero-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-position: 100% 0%;
  }
  .paragraph-bigger {
    font-size: 16px;
    line-height: 28px;
  }
  .logo-link {
    padding-left: 0px;
  }
  .navigation {
    padding: 20px 30px;
  }
  .work-experience-grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .work-position-wrap {
    margin-bottom: 40px;
  }
  .project-name-link {
    font-size: 16px;
    line-height: 28px;
  }
  .text-field.cc-textarea {
    text-align: left;
  }
  .contact {
    padding-right: 30px;
    padding-left: 30px;
  }
  .contact-form-grid {
    grid-column-gap: 30px;
    grid-template-areas: "." "." ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .contact-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .contact-form-wrap {
    text-align: left;
  }
  .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  .footer-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer-item {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
  }
  .about-head-text-wrap {
    width: 70%;
    max-width: 470px;
  }
  .skills-grid {
    width: 70%;
    max-width: 470px;
  }
  .personal-features-grid {
    width: 70%;
    max-width: 470px;
  }
  .social-media-heading {
    width: 70%;
    max-width: 470px;
  }
  .social-media-grid {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }
  .utility-page-wrap {
    padding: 15px;
  }
  ._404-wrap {
    padding: 30px;
  }
  .custom-container {
    width: 100%;
  }
  .horizontal-line.less-margin {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .hero-right {
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    display: none;
  }
  .hero-image {
    background-position: 60% 50%;
  }
  .list {
    top: 30px;
  }
  .list.hero-list {
    z-index: 1;
    margin-top: 20px;
  }
  .hero-heading {
    font-size: 36px;
    line-height: 44px;
  }
  .section-heading {
    font-size: 44px;
    line-height: 30px;
  }
  .project-image {
    height: 400px;
  }
  .project-image.rollkunstlauf {
    background-position: 0% 100%;
  }
  .project-image.speed-skating {
    background-position: 50% 0%;
  }
  .project {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .sport-type {
    padding: 10px 20px;
    font-size: 30px;
    line-height: 30px;
  }
  .sport-type-list {
    margin-top: 7px;
  }
  .project-content {
    width: 85%;
    margin-right: 0%;
    padding: 30px;
    border-top-right-radius: 0px;
  }
  .project-heading {
    line-height: 32px;
  }
  .website-link {
    font-size: 14px;
  }
  .client-logos-holder {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .client-logo {
    padding-right: 5px;
    padding-left: 5px;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .client-logo.fsrf {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
  }
  .social-link {
    -webkit-box-flex: 0;
    -webkit-flex: 0 50%;
    -ms-flex: 0 50%;
    flex: 0 50%;
  }
  .nav-wrapper {
    left: 10px;
    top: 10px;
  }
  .sport-link {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .nav__list-item {
    margin-bottom: 5vh;
  }
  .menu-icon-2 {
    left: 8vw;
    top: 10vw;
  }
  .nav__content {
    top: 35%;
  }
  .menu-button-2 {
    left: 8vw;
    top: 10vw;
  }
  .nav__list {
    margin-left: 10vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .link {
    font-size: 6vw;
    line-height: 6vw;
  }
  .facebook-link {
    font-size: 14px;
  }
  .custom-section.clubs {
    padding: 80px 20px;
  }
  .client-logo-inner {
    opacity: 0.9;
  }
  .logos-wrapper {
    position: relative;
    z-index: 1;
  }
  .extra-margin-bottom {
    margin-bottom: 40px;
  }
  .freestyle-image {
    z-index: 0;
    width: 70%;
    margin-top: 200px;
    margin-bottom: 200px;
    background-position: 50% 50%;
    background-size: cover;
  }
}

@media (max-width: 479px) {
  body {
    font-size: 15px;
  }
  h1 {
    font-size: 28px;
    line-height: 36px;
  }
  .rich-text {
    width: 100%;
    max-width: none;
  }
  .heading-jumbo {
    font-size: 36px;
    line-height: 48px;
  }
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .section.hero-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    background-position: 50% 40%;
    background-size: 80%;
  }
  .section.clients-section {
    padding-bottom: 20px;
  }
  .navigation {
    padding-right: 20px;
    padding-left: 20px;
  }
  .menu-button {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .menu-button.w--open {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .contact {
    padding-right: 15px;
    padding-left: 15px;
  }
  .contact-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .contact-form-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .about-head-text-wrap {
    width: 100%;
    max-width: none;
  }
  .skills-grid {
    width: 100%;
    max-width: none;
  }
  .personal-features-grid {
    width: 100%;
    max-width: none;
  }
  .social-media-heading {
    width: 100%;
    max-width: none;
  }
  .custom-container {
    width: 100%;
  }
  .custom-container.hero-container {
    height: 100%;
  }
  .hero-left {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .horizontal-line {
    display: none;
  }
  .horizontal-line.less-margin {
    display: block;
  }
  .hero-right {
    height: 550px;
  }
  .hero-image {
    height: 550px;
    background-position: 100% 50%;
  }
  .list {
    right: 20px;
  }
  .list.hero-list {
    top: 10px;
    right: 20px;
  }
  .hero-heading {
    font-size: 25px;
    line-height: 34px;
  }
  .section-heading {
    padding-left: 0px;
  }
  .project-image {
    height: 330px;
    border-radius: 0px;
  }
  .project-image.rollkunstlauf {
    background-position: 0% 50%;
  }
  .project {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .project.first-project {
    margin-bottom: 30px;
  }
  .sport-type-holder {
    padding-right: 0px;
  }
  .sport-type {
    width: 100%;
    font-size: 26px;
    line-height: 30px;
  }
  .sport-type-list {
    margin-top: 5px;
    font-size: 13px;
  }
  .project-content {
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    padding: 30px 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  .project-heading {
    padding-left: 20px;
    font-size: 26px;
  }
  .client-logos-holder {
    padding: 20px 6px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .client-logo {
    margin-top: 6px;
    margin-bottom: 6px;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
  .client-logo.fsrf {
    width: 90%;
  }
  .swiss-skate-logo-wrapper {
    position: absolute;
    left: auto;
    top: 30px;
    right: 0%;
    bottom: auto;
    margin-top: 0px;
    margin-bottom: 60px;
  }
  .social-wrapper {
    display: block;
    margin-top: 20px;
  }
  .social-link {
    margin: 10px 0px 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 100%;
    -ms-flex: 0 100%;
    flex: 0 100%;
  }
  .social-inner-div {
    padding-top: 5px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 0;
    -webkit-flex: 0 50%;
    -ms-flex: 0 50%;
    flex: 0 50%;
  }
  .success-message {
    padding: 30px 14px;
    text-align: center;
  }
  .sport-link {
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .tick-icon-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .menu-icon-2 {
    left: 6vw;
    top: 10vw;
  }
  .menu-button-2 {
    left: 6vw;
    top: 10vw;
  }
  .link {
    font-size: 7vw;
    line-height: 7vw;
  }
  .custom-section.clubs {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .logos-wrapper {
    width: 80%;
  }
  .hero-wrap {
    height: 100%;
    padding-bottom: 60px;
  }
  .extra-margin-bottom {
    margin-bottom: 20px;
  }
  .swiss-skate-logo {
    width: 120px;
  }
}

